body {
  font: 10px sans-serif;
  background-color: #333;
}
.chord path {
  fill-opacity: .67;
  stroke: #000;
  stroke-width: .5px;
}

#chart {
	width: 1000px;
	height: 800px;
	margin: auto;
}

#ui {
	padding: 50px;
}

#colorButton {
    color: white;
    font-size: 2em;
    margin-bottom: 1em;
}