body {
  font: 10px sans-serif;
  background-color: #3D3E3D;
  margin: 0px;
}

.chord path {
  fill-opacity: .67;
  stroke: #000;
  stroke-width: .5px;
}

#header {
    text-align: center;
    margin: 0 auto;
    color: white;
    font-size: 3em;
    padding: 1em;
}

#rectangle {
    position: absolute;
    background-color: #5D5E5F;
    height: 557px;
    width: 100%;
    left: 0px;
    top: 0px;
    z-index:-1;
}

#chart {
	width: 1000px;
	height: 800px;
	margin: auto;
}

#ui {
	padding: 50px;
}

#colorButton {
    color: white;
    font-size: 2em;
    margin-bottom: 1em;
}

#toggles {
    position: fixed;
    right: 25px;
    top: 50px;
}